.firstMenuContent {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-grow: 1;
  gap: 10px;
  font-family: "Lato", sans-serif;
  height: 65px;
  box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
  margin-bottom: 60px;

  p {
    cursor: pointer;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 3px;
    padding-bottom: 3px;
  }

  p:hover {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 3px;
    // border-color: rgba(198, 200, 202, 0.637);
    border-color: rgba(166, 216, 179, 0.644);
    border-style: solid;
    background-color: rgba(166, 216, 179, 0.644);
    border-radius: 10px;
  }
}

.cadrsGridFirstPage {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  margin-bottom: 80px;

  @media screen and (max-width: 900px) { 
    grid-template-columns: 1fr;    
  }
}

.mainBanner{
  height: 370px;
  background-image: url(../../assets/firstSvgBody.svg);
  background-size: cover;
  background-position: center center;
}

.titleCardsContainer{
  margin: 0 10px;
}

.firstMenuContent{
  margin-top: 20px;
  border-radius: 20px;
  background-color: rgba(229, 229, 230, 0.267);
  font-size: larger;
  font-weight: bold;
}