.footer {
    background-color: #262626;
    padding-top: 15px;
}



.footerGrid3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-family: 'Lato', sans-serif;
    color: aliceblue;

    -ms-user-select: none; 
	-moz-user-select: none; 
	-webkit-user-select: none; 
	user-select: none;
    cursor: pointer; 


    @media screen and (max-width: 450px) {
        grid-template-columns: 1fr;        
    }
}

.firstGridCollumn {
    font-family: 'Lato', sans-serif;
    color: aliceblue;

}

.secondGridCollumn {
    font-family: 'Lato', sans-serif;
    color: aliceblue;
    font-size: 20px;
    -ms-user-select: none; 
	-moz-user-select: none; 
	-webkit-user-select: none; 
	user-select: none;
    cursor: pointer; 

}

.thirdGridCollumn {
    font-family: 'Lato', sans-serif;
    color: aliceblue;
    font-size: 20px;
    -ms-user-select: none; 
	-moz-user-select: none; 
	-webkit-user-select: none; 
	user-select: none;
    cursor: pointer; 

}

.gridThirdp {
    padding: 15px;
}

.gridSecondp {
    padding: 15px;
}

.socialIcons > * {
    margin-right: 15px;
}
