.colorGreenTag {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Lato', sans-serif;
    color: aliceblue;
    font-size: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.greenP {
    font-family: 'Lato', sans-serif;
    color: #49A144; 
}  